<h1>Login</h1>

<form id="login" class="container">
    <div class = "mb-3">
        <label for="expampleInputEmail1" class="form-label">email address</label>
        <input type="email" class="form-control" id="password">
    </div>
    <div class="mb-3">
        <label for="exampleInputpassword1" class="form-label">password</label>
        <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">login</button>
</form>

<script src="../public/js/login.js"></script>