<h1>register</h1>

<form id="loginRegister" class="container">
    <div class="mb-3">
        <label for="exampleInputpassword1" class="form-label">name</label>
        <input type="text" class="form-control" id="nombreRegister">
    </div>
    <div class="mb-3">
        <label for="exampleInputpassword2" class="form-label">surname</label>
        <input type="text" class="form-control" id="apellidoRegister">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="emailRegister" aria-describedby="emailhelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputpassword3" class="form-label">password</label>
        <input type="text" class="form-control" id="passwordRegister">
    </div>

    <button type="submit" class="btn btn-primary">register</button>
</form>

<script src="../public/js/register.js"></script>